@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-poetsen: "Poetsen One";
  --bg-opacity: 0.5;
  --primary: #f1764d
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary: #f1764d
  }
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.hero-img {
  animation: animateImg 3s infinite ease-in-out alternate
}

@keyframes animateImg {
  0% {
    transform: rotate(0) translate(-10px) rotate(0);
  }

  100% {
    transform: rotate(360deg) translate(-10px) rotate(-360deg);
  }
}

.world-map path {
  stroke: white;
  cursor: pointer;

}

.china-map path {
  fill: lightgray;
  stroke: white;
}

.world-map path:hover {
  fill: #f1764db5;
}

.map path {
  stroke: white;
  fill: lightgray;
}

/* tspan {
  font-size: 7px;
} */

.emirates path {
  fill: lightgray;
  stroke: white;

}

text.tp {
  font-size: 9px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  writing-mode: lr-tb;
  text-anchor: middle;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  /* font-family: Bitstream Vera Sans */
}

text.tc {
  font-size: 6.5px;
  font-style: normal;
  font-weight: normal;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  /* font-family: Bitstream Vera Sans */
}

text.tsar {
  font-size: 8px;
  font-style: normal;
  font-weight: normal;
  writing-mode: lr-tb;
  fill: #000000;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 1px;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-opacity: 1;
  /* font-family: Bitstream Vera Sans */
}